@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <img src="~/Content/Images/1430783673157.jpg" class="img-responsive center-block" />
    </div>
</div>

<div class="row">
    <div class="col-md-6 margin-top-20">
        <a href="@Url.Action("Create", "AnimeList")" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-circle-arrow-down"></span> Create Anime Listing</a>
        <a href="@Url.Action("Explore", "AnimeList")" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-flash"></span> Explore Anime</a>
    </div>
    <div class="col-md-6 margin-top-20">
        <a href="#" class="btn btn-primary btn-large btn-block"><span class="glyphicon glyphicon-question-sign"></span> My Library</a>
    </div>
</div>